{% extends "base.html" %}

{% block content %}
<h1>Zug bearbeiten</h1>

<form method="POST"  id="update_train_form">
    {{ form.hidden_tag() }}
    <p>
        <label for="{{ form.name.id }}">{{ form.name.label }}:</label><br>
        {{ form.name(size=30) }}
        <br>
    </p>

    <p>
        <label for="{{ form.selected_locomotive.id }}">{{ form.selected_locomotive.label }}:</label><br>
        {{ form.selected_locomotive() }}
        <br>
    </p>

    <p>
        <label for="{{ form.selected_wagons.id }}">{{ form.selected_wagons.label }}:</label>
        <span id="total_weight">0</span> t.<br>
        <span id="warning" style="color: red;"></span><br>
        {{ form.selected_wagons() }}
        <br>
    </p>

    <p>
        <label for="{{ form.price_per_km.id }}">{{ form.price_per_km.label }}:</label><br>
        {{ form.price_per_km }}
        <br>
    </p>

    {{ form.submit(disabled="true", id="save_button") }}
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var selectedWagons = document.getElementById('{{ form.selected_wagons.id }}');
    var selectedLocomotive = document.getElementById('{{ form.selected_locomotive.id }}');
    var totalWeightSpan = document.getElementById('total_weight');
    let maxTraction = selectedLocomotive.options[selectedLocomotive.selectedIndex].text.split('(max. ')[1].split(
        ' ')[0];
    let locomotiveTrackWidth = parseFloat(
        selectedLocomotive.options[selectedLocomotive.selectedIndex].text.split('|')[1].trim());

    console.log(parseFloat(locomotiveTrackWidth));
    var warningSpan = document.getElementById('warning');
    var saveButton = document.getElementById('save_button');

    // Function to calculate the sum of max_weight from selected_wagons
    function calculateWeightSum() {
      saveButton.disabled = false;
      checkTrackWidth();
      var sumWeight = Array.from(selectedWagons.selectedOptions).reduce(function(sum, option) {
        return sum + parseFloat(option.text.split('(')[1].split(' ')[0] || 0);
      }, 0);

      // Display the total sum next to the label
      totalWeightSpan.textContent = sumWeight.toFixed(2);

      // Disable the save button if sumWeight is greater than maxTraction
      saveButton.disabled = sumWeight > maxTraction;
      warningSpan.textContent = saveButton.disabled ? 'WARNUNG: Das Gewicht der Wagons ist zu hoch!' : '';

    }

    function updateMaxTraction() {
      checkTrackWidth();
      maxTraction = selectedLocomotive.options[selectedLocomotive.selectedIndex].text.split('(max. ')[1].split(' ')[0];
    }

    function checkTrackWidth() {
      locomotiveTrackWidth = parseFloat(
          selectedLocomotive.options[selectedLocomotive.selectedIndex].text.split('|')[1].trim());

      // check track widths:
      Array.from(selectedWagons.selectedOptions).forEach(value => {
        let current = parseFloat(value.text.split('|')[1].trim());
        if (current !== locomotiveTrackWidth) {
          saveButton.disabled = true;
        }
      });
    }

    // Attach the calculateWeightSum function to the change event of selected_wagons
    selectedWagons.addEventListener('change', calculateWeightSum);
    selectedLocomotive.addEventListener('change', updateMaxTraction);

    // Initial calculation on page load
    calculateWeightSum();
    checkTrackWidth();
  });
</script>
{% endblock %}
