{% extends "base.html" %}

{% block content %}
<h1>Neue Wartung erstellen</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        <label for="description">{{form.description.label}}:</label><br>
        {{ form.description(class="form-control", placeholder="Beschreibung") }}
    </p>

    <p>
        <label for="start_date">{{form.start_date.label}}:</label><br>
        {{ form.start_date(class="form-control", placeholder="Startdatum") }}
    </p>

    <p>
        <label for="end_date">{{form.end_date.label}}:</label><br>
        {{ form.end_date(class="form-control", placeholder="Enddatum") }}
    </p>

    <p>
        <label for="assigned_employees">{{form.assigned_employees.label}}:</label><br>
        {{ form.assigned_employees(class="form-control", placeholder="Zugewiesene Mitarbeiter") }}
    <p>

        {{ form.submit() }}
</form>
{% endblock %}
