{% extends "base.html" %}

{% block content %}

<style>
    .table-container {
        height: 100px;
        display: flex;
    }

    table {
        border-collapse: collapse;
        width: 30%;
        margin: 10px;
    }

    tr {
        height: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    button {
        margin-top: 10px;
    }
</style>
</head>
<body>
<div class="table-container">
    <table>
        <caption><h3>Züge</h3></caption>
        <tr>
            <th style="width: 80px">Zug ID</th>
            <th>Zug Name</th>
            <th>Nächste Wartung</th>

        </tr>
        {% for train in trains %}
        <tr>
            <td><a href="/trains/{{ train.id }}">{{ train.id }}</a></td>
            <td><a href="/trains/{{ train.id }}">{{ train.name }}</a></td>
            <td>{{ train.maintenance }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <button onclick="window.location.href = './newTrain'">Hinzufügen</button>
            </td>
        </tr>
    </table>

    <table>
        <caption><h3>Triebwagenübersicht</h3></caption>
        <tr>
            <th style="width: 140px">Wagen ID</th>
            <th style="width: 80px">Zugkraft</th>
            <th>Zug</th>
            <th style="width: 25px"></th>
        </tr>
        {% for locomotive in locomotives %}
        <tr>
            <td>Wagen {{ locomotive.id }} <small>({{ locomotive.track_width }}mm)</small></td>
            <td>{{ locomotive.max_traction }} t.</td>
            <td>
                {% if locomotive.train_id %}
                <a href="/trains/{{ locomotive.train_id }}">{{ locomotive.train_id }}</a>
                {% else %}
                -
                {% endif %}
            </td>
            <td onclick="deleteWagon('{{ locomotive.id }}')">❌</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4">
                <button onclick="window.location.href = './newWagon'">Hinzufügen</button>
            </td>
        </tr>
    </table>

    <table>
        <caption><h3>Personenwagenübersicht</h3></caption>
        <tr>
            <th style="width: 140px">Wagen ID</th>
            <th style="width: 100px">Max. Gewicht</th>
            <th style="width: 80px">Sitzplätze</th>
            <th>Zug</th>
            <th style="width: 25px"></th>
        </tr>
        {% for wagon in wagons %}
        <tr>
            <td>Wagen {{ wagon.id }} <small>({{ wagon.track_width }}mm)</small></td>
            <td>{{ wagon.max_weight }} t.</td>
            <td>{{ wagon.number_of_seats }}</td>
            <td>
                {% if wagon.train_id %}
                <a href="/trains/{{ wagon.train_id }}">{{ wagon.train_id }}</a>
                {% else %}
                -
                {% endif %}
            </td>
            <td onclick="deleteWagon('{{ wagon.id }}')">❌</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5">
                <button onclick="window.location.href = './newWagon'">Hinzufügen</button>
            </td>
        </tr>
    </table>
</div>

<script>
  function deleteWagon(wagonId) {
    if (confirm(`Möchten Sie Wagen ${wagonId} wirklich löschen?`)) {
      window.location.href = '/delete_wagon/' + wagonId;
    }
  }
</script>

{% endblock %}
