{% extends "base.html" %}

{% block content %}
<h1>{{ train.name }}</h1>
<p>Anzahl der Waggons: {{ train.wagons|length }}</p>
<p>Max. Gewicht: <span id="totalMaxWeight"></span></p>
<p>Anz. der Sitze: <span id="totalSeats"></span></p>

<div style="display: flex;">
    <!-- Locomotive Table -->
    <table>
        <caption>Triebwagen</caption>
        <tr>
            <th style="width: 10px; text-align: left;">ID</th>
            <th style="width: 120px; text-align: left;">Spurweite</th>
            <th style="width: 120px; text-align: left;">Max. Zugkraft</th>
        </tr>
        {% for wagon in train.wagons if wagon.wagon_type == 'locomotive' %}
        <tr>
            <td style="padding: 5px; width: 80px; text-align: left;">[Wagen {{ wagon.id }}]</td>
            <td style="padding: 5px; width: 120px; text-align: left;">{{ wagon.track_width }} mm.</td>
            <td style="padding: 5px; width: 120px; text-align: left;">{{ wagon.max_traction }} t.</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <button onclick="window.location.href = '{{ train.id }}/edit'">Bearbeiten</button>
            </td>
        </tr>
    </table>

    <!-- Normal Wagons Table -->
    <table style="margin-left: 100px;">
        <caption>Personenwagen</caption>
        <tr>
            <th style="width: 10px; text-align: left;">ID</th>
            <th style="width: 120px; text-align: left;">Spurweite</th>
            <th style="width: 120px; text-align: left;">Max. Gewicht</th>
            <th style="width: 120px; text-align: left;">Sitze</th>
        </tr>
        {% for wagon in train.wagons if wagon.wagon_type == 'normal_wagon' %}
        <tr>
            <td style="padding: 5px; width: 120px; text-align: left;">[Wagen {{ wagon.id }}]</td>
            <td style="padding: 5px; width: 120px; text-align: left;">{{ wagon.track_width }}</td>
            <td style="padding: 5px; width: 120px; text-align: left;">{{ wagon.max_weight }}</td>
            <td style="padding: 5px; width: 120px; text-align: left;">{{ wagon.number_of_seats }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <button onclick="window.location.href = '{{ train.id }}/edit'">Bearbeiten</button>
            </td>
        </tr>
    </table>
</div>
<br>
<button onclick="deleteTrain('{{ train.id }}')">Zug löschen</button>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var totalMaxWeightElement = document.getElementById('totalMaxWeight');
    var totalSeatsElement = document.getElementById('totalSeats');
    var totalMaxWeight = 0;
    var totalSeats = 0;

    // Iterate over normal wagons and calculate total max weight and total seats
    {% for wagon in train.wagons if wagon.wagon_type == 'normal_wagon' %}
    totalMaxWeight += {{ wagon.max_weight }};
    totalSeats += {{ wagon.number_of_seats }};
    {% endfor %}

    // Display the total max weight and total seats
    totalMaxWeightElement.textContent = totalMaxWeight;
    totalSeatsElement.textContent = totalSeats;
  });

  function deleteTrain(trainId) {
    if (confirm("Möchten Sie diesen Zug wirklich löschen?")) {
      // Perform deletion logic, e.g., make an AJAX request to delete the train
      window.location.href = '/delete_train/' + trainId;

      console.log('Train deleted:', trainId);
    }
  }
</script>
{% endblock %}
