{% extends "base.html" %}

{% block content %}
<style>
    .table-container {
        height: 100px;
        display: flex;
    }

    table {
        border-collapse: collapse;
        width: 30%;
        margin: 10px;
    }

    tr {
        height: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    button {
        margin-top: 10px;
    }
</style>

<h1>{{ train.name }}</h1>
<p>Anzahl der Waggons: {{ train.wagons|length }}</p>
<p>Preis pro Km.: {{ train.price_per_km }}€</p><br>
<p>Max. Gewicht: <span id="totalMaxWeight"></span></p>
<p>Anz. der Sitze: <span id="totalSeats"></span></p>

<div class="table-container">
    <table>
        <caption><h3>Triebwagenübersicht</h3></caption>
        <tr>
            <th style="width: 140px">Wagen ID</th>
            <th style="width: 80px">Zugkraft</th>
        </tr>
        {% for wagon in train.wagons if wagon.wagon_type == 'locomotive' %}
        <tr>
            <td><a href="/editWagon/{{ wagon.id }}">Wagen {{ wagon.id }}</a> <small>({{ wagon.track_width }}mm)</small></td>

            <td>{{ wagon.max_traction }} t.</td>
        </tr>
        {% endfor %}
    </table>

    <table>
        <caption><h3>Personenwagenübersicht</h3></caption>
        <tr>
            <th style="width: 140px">Wagen ID</th>
            <th style="width: 100px">Max. Gewicht</th>
            <th style="width: 80px">Sitzplätze</th>
        </tr>
        {% for wagon in train.wagons if wagon.wagon_type == 'normal_wagon' %}
        <tr>
            <td><a href="/editWagon/{{ wagon.id }}">Wagen {{ wagon.id }}</a> <small>({{ wagon.track_width }}mm)</small></td>
            <td>{{ wagon.max_weight }} t.</td>
            <td>{{ wagon.number_of_seats }}</td>
        </tr>
        {% endfor %}
    </table>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="table-container">
    <table>
        <caption><h3>Wartungen</h3></caption>
        <tr>
            <th style="width: 20px">ID</th>
            <th style="width: 80px">Start</th>
            <th style="width: 80px">Ende</th>
            <th style="width: 140px">Beschreibung</th>
        </tr>
        {% for maintenance in train.maintenances %}
        <tr>
            <td><a href="/maintenances/{{maintenance.id}}">
                {{ maintenance.id }}
            </a></td>
            <td>{{ maintenance.start_date }}</td>
            <td>{{ maintenance.end_date }}</td>
            <td>{{ maintenance.description }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<button onclick="editTrain('{{ train.id }}')">Zug bearbeiten</button>
<button onclick="deleteTrain('{{ train.id }}')">Zug löschen</button>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var totalMaxWeightElement = document.getElementById('totalMaxWeight');
    var totalSeatsElement = document.getElementById('totalSeats');
    var totalMaxWeight = 0;
    var totalSeats = 0;

    // Iterate over normal wagons and calculate total max weight and total seats
    {% for wagon in train.wagons if wagon.wagon_type == 'normal_wagon' %}
    totalMaxWeight += {{ wagon.max_weight }};
    totalSeats += {{ wagon.number_of_seats }};
    {% endfor %}

    // Display the total max weight and total seats
    totalMaxWeightElement.textContent = totalMaxWeight;
    totalSeatsElement.textContent = totalSeats;
  });

  function deleteTrain(trainId) {
    if (confirm("Möchten Sie diesen Zug wirklich löschen?")) {
      window.location.href = '/deleteTrain/' + trainId;
    }
  }

  function editTrain(trainId) {
      window.location.href = '/editTrain/' + trainId;
  }
</script>
{% endblock %}
