/.venv/
/.idea/
/.vscode/
/fleet/tutorial/
/fleet/env/
/fleet/venv/
/fleet/app/__pycache__/

/route/__pycache__/
/route/.vscode/
/route/venv/
/route/app/__pycache__/

/schedule/__pycache__/
/schedule/.vscode/
/schedule/venv/
/schedule/app/__pycache__/

/timetable/__pycache__/
/timetable/.vscode/
/timetable/venv/
/timetable/app/__pycache__/

/ticket/__pycache__/
/ticket/.vscode/
/ticket/venv/
/ticket/app/__pycache__/

