{% extends "base.html" %}
{% block content %}
    <h1>Ereignis bearbeiten</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p style="max-height: 200px; overflow-y: scroll;">
            {{ form.section.label }}<br>
            {{ form.section(size=32) }}
        </p>
        <p>
            {{ form.endDate.label }}<br>
            {{ form.endDate(size=32) }}
        </p>
        <p>
            {{ form.officialText.label }}<br>
            {{ form.officialText(size=32) }}
        </p>
        <p>
            {{ form.internalText.label }}<br>
            {{ form.internalText(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}