{% extends "base.html" %}

{% block content %}
    <h1>ausgewählte Abschnitte</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Start Bahnhof</th>
            <th>End Bahnhof</th>
            <th>Aktion</th>
        </tr>
        {% for chosen_section in chosen_sections %}
        <tr>
            <td>{{ chosen_section.section_id }}</td>
            <td>{{ chosen_section.section_rel.start_station_rel.nameOfStation }}</td>
            <td>{{ chosen_section.section_rel.end_station_rel.nameOfStation }}</td>
            <td>
                {% if loop.last %}
                <form action="{{ url_for('removeLastSectionFromChosenSections', section_id=chosen_section.section_id) }}" method="post">
                    <button type="submit">Letzten Abschnitt löschen</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <h1>Verfügbare Abschnitte</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Start Bahnhof</th>
            <th>End Bahnhof</th>
            <th>Aktion</th>
        </tr>
        {% for available_section in available_sections %}
        <tr>
            <td>{{ available_section.section_id }}</td>
            <td>{{ available_section.section_rel.start_station_rel.nameOfStation }}</td>
            <td>{{ available_section.section_rel.end_station_rel.nameOfStation }}</td>
            <td>
                <form action="{{ url_for('moveSectionToChosen', section_id=available_section.section_id) }}" method="post">
                    <button type="submit">Abschnitt hinzufügen</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% block extra %}{% endblock %}
{% endblock %}