{% extends "base.html" %}

{% block content %}
    <h1>Bahnhöfe</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Externe ID</th>
                <th>Name des Bahnhofs</th>
                <th>Adresse</th>
                <th>Koordinaten</th>
            </tr>
        </thead>
        <tbody>
            {% for station in stations %}
            <tr>
                <td>{{ station.id }}</td>
                <td>{{ station.externId }}</td>
                <td>{{ station.nameOfStation }}</td>
                <td>{{ station.address }}</td>
                <td>{{ station.coordinates }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}