{% extends "base.html" %}

{% block content %}
<body>
<h1>Fahrtdurchführungen</h1>
<table>
    <tr>
        <th>ID</th>
        <th style="text-align: center;">Datum</th>
        <th style="text-align: center;">Uhrzeit</th>
        <th style="text-align: center;">Endzeit</th>
        <th style="text-align: center;">Zug ID</th>
        <th style="text-align: center;">Strecke ID</th>
        <th style="text-align: center;">Mitarbeiter-IDs</th>
        <th>Preise</th>
        <th>Bahnhof-IDs</th>
        <th>Zeiten</th>
    </tr>
    {% for fahrt in fahrtdurchfuehrungen %}
    <tr>
        <td>{{ fahrt.id }}</td>
        <td style="text-align: center;">{{ fahrt.datum }}</td>
        <td style="text-align: center;">{{ fahrt.zeit }}</td>
        <td style="text-align: center;">{{ fahrt.endzeit }}</td>
        <td style="text-align: center;">{{ fahrt.zug_id }}</td>
        <td style="text-align: center;">{{ fahrt.line }}</td>
        <td style="text-align: center;">{{ fahrt.mitarbeiter_ids }}</td>
        <td>{{ fahrt.preise }}</td>
        <td title="{{ fahrt.bahnhof_names }}" style="font-weight: bold; color: rgb(58, 53, 53); cursor: default;">{{ fahrt.bahnhof_ids }}</td>
        <td>{{ fahrt.zeiten }}</td>
        <td>
            <form action="{{ url_for('main.loesche_fahrtdurchfuehrung', id=fahrt.id) }}" method="POST">
                <button type="submit" style="color: red;">X</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="/neue_fahrtdurchfuehrung">Neue Fahrtdurchführung anlegen</a>
</body>
{% endblock %}