{% extends "base.html" %}

{% block content %}
<h2>Übersicht</h2>
<div class="Overview" id="overview">
    <ul>
        <li><a href="/fahrtdurchfuehrungen/">Fahrtdurchführungen</a></li>
        <li><a href="/neue_fahrtdurchfuehrung">Fahrtdurchführung anlegen</a></li>
        <li><a href="/streckenhalteplaene">Streckenhaltepläne</a></li>
        <li><a href="/streckenhalteplan/">Streckenhalteplan anlegen</a></li>
        <li><a href="/users">Mitarbeiterübersicht</a></li>
        <li><a href="/newUser">Mitarbeiter anlegen</a></li>
        <br>
        <li><a href="/login">Erneut einloggen</a></li>
    </ul>
</div>
{% endblock %}