<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Neue Fahrtdurchführung</title>
</head>
<body>
    <h1>Neue Fahrtdurchführung anlegen</h1>
    <form action="{{ url_for('main.neue_fahrtdurchfuehrung') }}" method="POST">
        <label for="datum">Datum:</label>
        <input type="date" name="datum" id="datum" required>
        
        <label for="zug_id">Zug:</label>
        <select name="zug_id" id="zug_id" required>
            {% for zug in zuege %}
            <option value="{{ zug.id }}">{{ zug.name, zug.id }}</option>
            {% endfor %}
        </select>
        
        <input type="submit" value="Fahrtdurchführung erstellen">
    </form>
    <a href="{{ url_for('main.fahrtdurchfuehrungen') }}">Zurück zu den Fahrtdurchführungen</a>
</body>
</html>