{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Streckenhalteplan</title>
    <style>
        .error { color: red; }
        .success { color: green; }
    </style>
    <script>
        var lines = {{ lines | tojson | safe }};
        var allStations = {{ all_stations | tojson | safe }};

        function getStationNameById(id) {
            var station = allStations.find(station => station.id == id);
            return station ? station.nameOfStation : 'Unbekannte Station';
        }

        function showStops() {
            var selectedLineId = document.getElementById('lineSelect').value;
            var line = lines.find(l => l.id == selectedLineId);
            var stationIds = [];
            if (line) {
                stationIds.push(line.startStationId);
                line.sections.forEach(section => {
                    stationIds.push(section.endStationId);
                });
            }
            updateStopsDisplay(stationIds);
        }

        function updateStopsDisplay(stationIds) {
            var stopsContainer = document.getElementById('stopsContainer');
            stopsContainer.innerHTML = '';
            stationIds.forEach(id => {
                var stopDiv = document.createElement('div');
                var stationName = getStationNameById(id);
                var checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.checked = true;
                checkbox.setAttribute('data-station-id', id);
                
                stopDiv.innerHTML = `Station ${id} - ${stationName} `;
                stopDiv.appendChild(checkbox);
                stopsContainer.appendChild(stopDiv);
            });
        }

        function saveStreckenhalteplan() {
            var selectedLineId = document.getElementById('lineSelect').value;
            var planName = document.getElementById('planName').value;
            var checkboxes = document.querySelectorAll('#stopsContainer input[type=checkbox]');
            
            var stations_status = Array.from(checkboxes).map(checkbox => checkbox.checked ? parseInt(checkbox.getAttribute('data-station-id')) : false);

            if (!planName || stations_status.filter(status => status !== false).length < 2) {
                alert("Fehler - Es müssen mindestens 2 Haltestellen ausgewählt werden und ein Name muss vergeben werden");
                return;
            }

            // Erstellen eines neuen Formulars
            var form = document.createElement('form');
            form.method = 'post';
            form.action = '/save_streckenhalteplan';

            // Fügen Sie benötigte Daten als versteckte Felder hinzu
            form.appendChild(createHiddenInput('line_id', selectedLineId));
            form.appendChild(createHiddenInput('name', planName));
            form.appendChild(createHiddenInput('stations_status', JSON.stringify(stations_status)));

            document.body.appendChild(form);
            form.submit();
        }

        function createHiddenInput(name, value) {
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = name;
            input.value = value;
            return input;
        }


        
    </script>
</head>
<body>
    <h1>Streckenhalteplan</h1>
    <label for="lineSelect">Wählen Sie eine Strecke:</label>
    <select id="lineSelect" onchange="showStops()">
        <option value="">--Wählen Sie eine Strecke--</option>
        {% for line in lines %}
        <option value="{{ line.id }}">{{ line.nameOfLine }}</option>
        {% endfor %}
    </select>

    <div id="stopsContainer">
        <!-- Hier werden die Haltestellen mit Checkboxen angezeigt -->
    </div>

    <input type="text" id="planName" placeholder="Name des Streckenhalteplans">
    <button onclick="saveStreckenhalteplan()">Speichern</button>
    <div id="messageDiv"></div>

    <a href="{{ url_for('main.streckenhalteplaene') }}">Zurück zu den Streckenhalteplänen</a>
</body>
{% endblock %}
