<!-- create_sale.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Create Sale</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.line.label }}<br>
            {{ form.line() }}  <!-- Removed the static option -->
            <br>
        </p>
        <p>
            {{ form.discount.label }}<br>
            {{ form.discount(size=32) }}<br>
        </p>
        <p>
            {{ form.start_date.label }}<br>
            <input type="date" name="start_date" id="start_date" required><br>
        </p>
        <p>
            {{ form.end_date.label }}<br>
            <input type="date" name="end_date" id="end_date" required><br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}