<!DOCTYPE html>
<html>
<body>

<h2>My Tickets</h2>

<table>
    <tr>
        <th>Ticket ID</th>
        <th>Zug ID</th>
        <th>Date</th>
        <th>Start Station</th>
        <th>End Station</th>
        <th>Price</th>
        <th>Status</th>
        <th>Reserved</th>
        <th>Actions</th>
    </tr>
    {% for ticket in tickets %}
    <tr>
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.zug_id }}</td>
        <td>{{ ticket.date }}</td>
        <td>{{ ticket.start_station }}</td>
        <td>{{ ticket.end_station }}</td>
        <td>{{ ticket.price }}</td>
        <td>
            {% if ticket.date < now() %}
            passed
            {% else %}
            {{ ticket.status }}
            {% endif %}
        </td>
        <td>
            {% if ticket.seat_reserved %}
            This ticket is reserved.
            {% else %}
            This ticket is not reserved.
            {% endif %}
        </td>
        <td>
            {% if ticket.status != 'deleted' %}
            <form action="{{ url_for('delete_ticket', ticket_id=ticket.id) }}" method="post">
                <input type="submit" value="Cancel Ticket">
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>