<!-- Show all stations in a table for admins, with the possibility to edit and delete.-->
{% extends "base.html" %}

{% block content %}
<h1>Bahnhöfe</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name des Bahnhofs</th>
            <th>Adresse</th>
            <th>Koordinaten</th>
            <th>Bearbeiten</th>
            <th>Löschen</th>
        </tr>
    </thead>
    <tbody>
        {% for station in stations %}
        <tr>
            <td>{{ station.id }}</td>
            <td>{{ station.nameOfStation }}</td>
            <td>{{ station.address }}</td>
            <td>{{ station.coordinates }}</td>
            <td>
                <a href="{{ url_for('editSingleStation', id=station.id) }}">Bearbeiten</a>
            </td>
            <td>
                <form action="{{ url_for('deleteStation', id=station.id) }}" method="POST">
                    <input type="submit" value="Löschen">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}