{% extends "base.html" %}

{% block content %}
    <h1>Strecken bearbeiten</h1>
    <table border="1">
        <tr>
            <th>Streckenname</th>
            <th>Abschnitte</th>
            <th>Startbahnhof der Strecke</th>
            <th>Endbahnhof der Strecke</th>
            <th>Bearbeiten</th>
            <th>Löschen</th>
        </tr>
        {% for line in lines %}
            <tr>
                <td>{{ line.nameOfLine }}</td>
                <td>
                    {% for section in line.sections %}
                        {{ section.start_station_rel.nameOfStation }} - {{ section.end_station_rel.nameOfStation }}<br>
                    {% endfor %}
                </td>
                <td>{{ line.startStation.nameOfStation if line.startStation else 'N/A' }}</td>
                <td>{{ line.endStation.nameOfStation if line.endStation else 'N/A' }}</td>
                <td>
                    <a href="{{ url_for('editSingleLineAdmin', line_id=line.id) }}">Nur Name bearbeiten</a>
                    <a href="{{ url_for('editSingleLineSections', line_id=line.id) }}">Abschnitte bearbeiten</a>
                </td>
                <td>
                    <form action="{{ url_for('deleteLineAdmin') }}" method="post">
                        <input type="hidden" name="line_id" value="{{ line.id }}">
                        <input type="submit" value="Löschen">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}