{% extends "base.html" %}

{% block content %}
    <h1>Neues Ereignis hinzufügen</h1>
    <form method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.section.label }}<br>
            {{ form.section() }}
        </p>
        <p>
            {{ form.endDate.label }}<br>
            {{ form.endDate() }}
        </p>
        <p>
            {{ form.officialText.label }}<br>
            {{ form.officialText() }}
        </p>
        <p>
            {{ form.internalText.label }}<br>
            {{ form.internalText() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}