{% extends "base.html" %}

{% block content %}
    <h1>Create a New Line</h1>
    <form action="{{ url_for('newLineAdminEnterDetails') }}" method="post">
        <label for="nameOfLine">Name of Line:</label>
        <input type="text" id="nameOfLine" name="nameOfLine" required>
        <br><br>
        {% if start_station %}
            <label>Startbahnhof der Strecke:</label>
            <span>{{ start_station }}</span>
            <br><br>
        {% endif %}
        {% if end_station %}
            <label>Endbahnhof der Strecke:</label>
            <span>{{ end_station }}</span>
            <br><br>
        {% endif %}
        <input type="submit" value="Create Line">
    </form>
{% endblock %}