<!-- page where the admin can create a new station  -->
{% extends "base.html" %}

{% block content %}
    <h1>Neuen Bahnhof anlegen</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.nameOfStation.label }}<br>
            {{ form.nameOfStation(size=32) }}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}
        </p>
        <p>
            {{ form.coordinates.label }}<br>
            {{ form.coordinates(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}