{% extends "base.html" %}

{% block content %}
    <h1>Abschnitte anzeigen</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Start Bahnhof</th>
            <th>End Bahnhof</th>
            <th>Entgelt</th>
            <th>Länge</th>
            <th>Maximalgeschwindigkeit</th>
            <th>Spurweite in mm</th>
            <th>Ereignisse</th>
        </tr>
        {% for section in sections %}
            <tr>
                <td>{{ section.id }}</td>
                <td>{{ section.start_station_rel.nameOfStation }}</td>
                <td>{{ section.end_station_rel.nameOfStation }}</td>
                <td>{{ section.fee }}</td>
                <td>{{ section.distance }}</td>
                <td>{{ section.maxSpeed }}</td>
                <td>{{ section.trackWidth }}</td>
                <td>
                    <table border="1">
                        <tr>
                            <th>Ereignis ID</th>
                            <th>Enddatum</th>
                            <th>Offizieller Text</th>
                            <th>Interner Text</th>
                        </tr>
                        {% for event in section.events %}
                            {% if event.endDate is none or event.endDate > now %}
                                <tr>
                                    <td>{{ event.id }}</td>
                                    <td>{{ event.endDate }}</td>
                                    <td>{{ event.officialText }}</td>
                                    <td>{{ event.internalText }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}